<link rel="import" href="../polymer/polymer-element.html">
<!--<link rel="import" href="../polymer/lib/elements/dom-if.html">-->
<!--<link rel="import" href="../polymer/lib/elements/dom-repeat.html">-->

<!--
`simple-elment`
@demo demo/index.html
-->

<dom-module id="simple-element">
  <template>
    <style>
      :host {
        display: block;
      }
      
      .wrapper {
      display: grid;
       grid-template-columns: 275px 150px ;
      grid-gap: 5px;
      background-color: #fff;
      color: #444;
     }
 
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
 
}
  
    </style>
    <h2>สวัสดี [[menuTitle]] ! <button on-click="handleRestoreClick">คืนค่ารายการอาหาร</button></h2>
      <div class="wrapper">
        <template is="dom-repeat" items="{{foodMenu}}">
            <div class="box">{{item.name}}</div>
            <div class="box"><button on-click="handleRemoveClick">ลบรายการ</button></div>
            
          
        </template>

  </div>
  <div>
   <input 
       on-keydown = "handleKeyDown"
   type="text" placeholder="input new menu here" id="menuItemInputText"></span><button id="addButton" on-click="handleAddFoodMenuClick">Add Menu</button>  
  </div>
  

  </template>

  <script>
    /** @polymerElement */
    class SimpleElement extends Polymer.Element {
      static get is() {
        return 'simple-element';
      }
      static get properties() {
        return {
          menuTitle: {
            type: String,
            value: 'นี้คือรายการอาหารของเรา'
          },

          foodMenu: {
            type: Array,
            value: () => {
              return SimpleElement.foodMenuData();

            }


          }

        };
      }
    
     static  foodMenuData(){
       return [{
                name: 'ลาบอีสาน'
              }, {
                name: 'ข้าวขาหมู'
              }, {
                name: 'ผัดปลาดุก'
              }, {
                name: 'ยำปลาหมึก'
              }, {
                name: 'หมูป่าทอดกรอบ'
              }, {
                name: 'ข้าวหมูแดง'
              }, {
                name: 'ต้มข่าไก่'
              }, ];
     }
     handleRestoreClick(){
       this.set('foodMenu', SimpleElement.foodMenuData());
     }
    handleKeyDown(e){
    
      if (e.keyCode == 13){
        this.handleAddFoodMenuClick();
      }
         
    }
      handleRemoveClick(e) {
        var index = this.foodMenu.indexOf(e.model.item);
        this.splice('foodMenu', index, 1);
      }
      
      
      handleAddFoodMenuClick() {
         var menuItem =  this.$.menuItemInputText.value;
         
         if(menuItem && menuItem.length<=30){
            this.push('foodMenu', {
          name:menuItem
        });
         }
       
      }
    }

    window.customElements.define(SimpleElement.is, SimpleElement);
  </script>
</dom-module>
